.footer
    p.footer__right @ 2024 - ALL RIGHTS RESERVED
    .footer__links
            a(href='https://www.instagram.com/__hursun_ss__/?next=%2F').footer__link Instagram
            a(href='https://www.linkedin.com/in/hursun-ss-377659233/').footer__link Linkedin
            a(href='https://github.com/Dunking-Dunk').footer__link Github
    p.footer__para DESIGN AND DEVELOPED BY UNFAZED
