$z-indexes: (
    'preloader',
    'navigation',
    'content'
);

$font-mono: 'Manolo Mono';
$font-mont: 'Montserrat';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$color-black: #000000;
$color-secondary: #212121;
$color-white: #f6f6f6;
$color-red: #D2001A;